/* styles/CharacterDisplay.module.css */

.characterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.orb {
  margin-right: -20px; /* Adjust for overlapping effect */
}

.character {
  position: relative;
}