
/* styles/globals.css */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and borders are included in total width/height */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

* {
  box-sizing: border-box; /* Ensure all elements include padding and borders in their total width/height */
}

.mainScreen {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; /* Prevent scroll */
  background-color: black; /* Fallback background color */
  padding: 0; /* Remove any padding */
}
