/* styles/Inventory.module.css */

.inventoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}

.inventoryItem {
  flex-basis: 20%;
  text-align: center;
}

.itemText {
  margin-top: 5px;
  color: white;
  font-size: 12px;
}