/* styles/StatusBar.module.css */

.statusBarContainer {
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.statusBar {
  width: 100%;
  height: auto;
}

.statusText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 14px;
}